<<<<<<< HEAD
=======
@media (max-width: 700px) {

    .navbar,
    .bg-image .booking-form-box .button-continar h1 .button-continar .header {
        flex-direction: column;
    }
}

>>>>>>> 97eca8104a2dcd27d9b02ec15841f457ae81e8c2
* {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
}

.container img {
    width: 100px;
    height: 100px;
    float: left;


}

.header h1 {
    font-family: Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: blue;
    position: absolute;
    top: 50%;
    left: 12%;


}

.container-img {
    background-size: cover;
    background-position: center;

}


.signup-btn {
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    color: white;
    letter-spacing: 0em;
    text-align: center;
    height: 40px;
    width: 98px;
    left: 1100px;
    top: 39px;
    position: absolute;


    border-radius: 6px;
    background-color: blue;


}

.button-continar {
    display: inline-block;
    padding-right: 450px;
    justify-content: space-between;

}

.Apa-btn {
    border-radius: 6px;
    background-color: blue;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    color: white;
    letter-spacing: 0em;
    text-align: center;
    height: 40px;
    width: 98px;
}

.hot-btn {
    border-radius: 6px;
    background-color: blue;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    color: white;
    letter-spacing: 0em;
    text-align: center;
    height: 40px;
    width: 98px;
}

.booking-form-box {
    max-width: 350px;
    border: 1px solid #ced4da;
<<<<<<< HEAD
    margin: 10% auto 0;
=======
    margin: 5% auto 0;
>>>>>>> 97eca8104a2dcd27d9b02ec15841f457ae81e8c2
    float: right;
    margin-right: 6%;
    height: 70vh;
}

.radio-btn {
    margin: 0 20px;
}

.radio-btn .btn {
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-btn .btn::after {
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: white;
    position: relative;
    display: inline-block;
    border: 3px solid white;
    visibility: visible;
    border-radius: 50%;

}

.radio-btn .btn:checked::after {
    content: '';
    background-color: blue;
    transition: 0.5s;
}

.radio-btn span {
    color: blue;
    margin-right: 5px;
    font-size: 12px;
}

.booking-form {
    padding: 0 20px 20px;
}

<<<<<<< HEAD
.booking-form label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    color: blue;
    font-weight: bold;
}

.input::placeholder {
    color: black !important;
}

.input-grp {
    width: 151px;
    display: inline-block;
}

=======
.booking-form {
    padding: 0 20px 20px;
}

.booking-form label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    color: blue;
    font-weight: bold;
}

.input::placeholder {
    color: black !important;
}

.input-grp {
    width: 151px;
    display: inline-block;
}

>>>>>>> 97eca8104a2dcd27d9b02ec15841f457ae81e8c2
.from-control {
    font-size: 12px;
    border-radius: 0;
    background: transparent;
    box-shadow: non;

}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button {
    -webkit-appearance: non;
    margin: 0;
}

.select-date::-webkit-calendar-picker-indicator {
    background: blue !important;

}

.custom-select {
    color: blue !important;
    font-size: 12px !important;
    box-shadow: none !important;
    border-radius: 0 !important;


}

.custom-select option {
    color: blue;
}

.search {
    border-radius: 6px;
    background-color: blue;
    font-size: 13px;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    color: white;
    letter-spacing: 0em;
    text-align: center;
    height: 40px;
    width: 98px;
    left: 1313px;
    top: 70px;
    height: 36px;
    width: 115px;
    left: 1306px;
    top: 62px;
    border-radius: 6px;
    background-color: blue;


}

.banner {
    color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
<<<<<<< HEAD
=======
    font-family: Roboto;
>>>>>>> 97eca8104a2dcd27d9b02ec15841f457ae81e8c2
}

.banner-title {
    font-size: 2rem;
    font-weight: 200;
    opacity: 0.9;
    line-height: 1.3;
    padding-top: 80px;
    padding-left: 80px;
    font-size: 40px;
    font-style: italic;
    font-weight: 700px;
<<<<<<< HEAD
=======
    font-family: Roboto;
>>>>>>> 97eca8104a2dcd27d9b02ec15841f457ae81e8c2

}

.banner-title span {
    font-weight: 700;
    display: block;
}

.banner-text {
    font-size: 1.4rem;
    font-weight: 200;
    opacity: 0.9;
    padding: 0.7rem 0;
<<<<<<< HEAD
=======
    font-family: Roboto;
>>>>>>> 97eca8104a2dcd27d9b02ec15841f457ae81e8c2
}

.features {
    padding: 70px 0;




}

h1 {
    text-align: center;
    padding-bottom: 30px;
    font-family: Roboto;

}

.feature-img img {
    width: 100%;
    height: 60vh;



}

.praice {
    width: 50px;
    height: 50px;
    background: blue;
    font-weight: 600;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
    color: white;
}


.feature-img {
    position: relative;
}

.rating {
    padding: 3px;
    float: right;
    background: white;
    bottom: -1px;
    right: 0;
    position: absolute;

}

.features .fa {
    font-size: 15px;
    color: blue;

}

.feature-detalis {
    padding: 20px;
    text-align: justify;
}

.feature-detalis h4 {
    font-weight: 600;
    margin-top: 20px;

}

.feature-detalis .fa {
    margin-right: 5px;
    justify-content: space-between;
}

.feature-box {
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
}


.gallery {

    background: white;

}

.gallery-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.gallery-box img:hover {
    transform: scale(1.1);
}

.gallery-box h4 {
    display: block;
    color: white;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    padding-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;


}

.gallery-box {
    position: relative;
    margin-bottom: 30px;
}

.users-feedback {
    padding: 100px 0;

}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    font-family: Roboto;

}

.user-review p {
    padding: 50px 10px 10px 10px;
    font-family: Roboto;
}

.users-feedback img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.user-review p::before {
    content: '\201d';
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -10px;

}

.footer {
    padding: 100px 20px;
    background-image: linear-gradient(#2d557d, #9610fb);
    color: white;
}

.footer-logo {
    width: 150px;
    margin-top: -70px;
    margin-bottom: 35px;
    position: absolute;
    left: 10px;



}

.footer h4 {
    text-align: left;
    margin-top: 20px;
    padding-bottom: 25px;
    font-family: Roboto;
}

.footer p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
    font-family: Roboto;

}

.footer p .row .fa {
    padding-right: 20px;
    font-size: 15px;
}