.container{
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-rows: 15vh 20vh 1fr 20vh;
    grid-gap: 5px;
}

.header{
    grid-row: 1;
    grid-column: 1;
}

.nav{
    background: url('Image/tourMonde.jpg');
    grid-row: 2;
    grid-column: 1;
}

.body{
    grid-column: 1;
    grid-row: 3;
    background-color: rgb(57, 220, 89);
}

.footer{
    grid-row: 4;
    grid-column: 1;
    background-color: cadetblue;
}
#title-icon{
    color: blue;
    font-family: Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0em;
    margin-bottom: 10px;
    text-align: left;
}

#icon{
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

#icon img{
    height: 108px;
    width: 118px;
}